*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /* height: 100vh; */
    background: #25ff5f;
    /* background: linear-gradient(#25ff5f, #0cd943 50%, #ffffff 50%); */
}

.container{
    background-color: #ffffff;
    width: 90vw;
    max-width: 28em;
    font-size: 16px;
    padding: 3em;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50,-50%);
    box-shadow: 0 0 3.2em rgba(1,3,29,0.2);
    border-radius: 0.6em;
}

h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

.input-wrapper input{
    display: block;
    width: 100%;
    font-size: 1.35em;
    padding: 0.4em;
    border: 1px solid #a0a0a0;
    border-radius: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

.input-wrapper label {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.25em;
}

